.sidebar-container {
    box-sizing: border-box;
    height: 100vh;
    flex-grow: 1;
    padding:4px;
}

.sidebar {
    box-sizing: border-box;
    flex-grow: 1;
    background-color: rgb(220, 197, 163);
    height: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid rgb(206, 174, 126);
    display: flex;
    flex-direction: column;
    color: rgb(111, 83, 42);
}

h1 {
    text-align: center;
    background-color: rgb(255,229,180);
    margin: 0;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid rgb(210,180,140);
    flex: 0 0 auto; 
}



.control-box {
    display:flex;
    flex-wrap: wrap;
    margin-top: 5px;
    flex: 0 0 auto;
    gap: 5px;
}

.score-box {
    box-sizing: border-box;
    margin-top: 5px;
    height: auto;
    background-color: rgb(255,229,180);
    flex: 1 1 auto;
    border: 3px solid rgb(210,180,140);
    border-radius: 10px;
    padding: 4px;
}

.points-box {
    display: flex;
    background-color: rgb(249, 236, 214);
    border: 2px solid rgb(210,180,140);
    padding: 5px;
    border-radius: 5px;
    color: rgb(191, 147, 90);
}

.score {
    flex-grow: 1;
}

.timer {
    text-align: right;
    padding: 0px 10px;
    border-radius: 5px;
    background-color: white;
}

.button {
    box-sizing: border-box;
    flex: 1 1 auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(255,229,180);
    border: 3px solid rgb(210,180,140);
    cursor: pointer;
}

.break {
    flex-basis: 100%;
    height: 0;
}

h3 {
    margin: 0;
}

